Flask>=3.0.0
gunicorn>=21.2.0
pypdf>=4.0.0
langchain-core>=0.2.0
langchain-text-splitters>=0.0.1
langchain-google-firestore>=0.3.0
langchain-google-vertexai>=1.0.5
google-cloud-aiplatform>=1.55.0
google-cloud-firestore>=2.16.0
google-cloud-storage>=3.0.0
